.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems-formate-main{
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-formate{
    font-size: 17px;
    font-weight: 500;
}

.carticon-product-icon{
    height: 62px;
}

.carticon-remove-icon{
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 54px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cartitems-promocode{
    flex: 1;
    font-style: 16px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}

.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    height: 58px;
    padding-left: 20px;
    background-color: #eaeaea;
    
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-style: 16px;
    width: 330px;
    height: 50px;
   
}

.cartitems-promobox button{
    width: 170px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 58px;
}

@media only screen and (max-width: 480px) {
    .cartitems{
        margin: -80px 0px;
        transform: scale(0.8);
    }
    .cartitems-formate-main{
        display: grid;
        grid-template-columns: 1.7fr 2fr 1fr 1.6fr 1fr 1.6fr;
        padding-left: 20px;
        margin-top: 40px;
        gap: 5px;
        color: #454545;
        font-size: 15px;
        font-weight: 600;
        
    }
    .cartitems-formate{
        font-size: 10px;
        font-weight: 600;
        grid-template-columns: 2.3fr 2.8fr 1fr 2fr 0.6fr 1.6fr;
       
    }
    .carticon-product-icon{
        height: 52px;
    }
    .cartitems-quantity{
        height: 35px;
        width: 35px;
    }
    .cartitems-down{
        display: flex;
        margin: 50px 0px;
    }
    .cartitems-total{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        gap: 50px;
    }
    .cartitems-total button{
        width: 162px;
        height: 48px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        margin-left: -15px;
    }
    .cartitems-total .btn2{
        padding-left: -180px;
    }
  }