.offers{
    width: 60%;
    height: 55vh;
    display: flex;
    margin: auto;
    margin-top: 70px;
    padding: 0px 140px;
    margin-bottom: 150px;
    background:linear-gradient(180deg, #fde1ff 0% , #e1ffea22 60%);
}

.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.offers-left h1{
    color: #171717;
    font-size: 60px;
    font-weight: 600;
}

.offers-left p{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.offers-left button{
    width: 282px;
    height: 50px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right{
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

@media only screen and (max-width: 480px) {
   .offers{
    display: flex;
    flex-direction: column;
    margin-left: -22%;
    height: 1000px;
   }
   .offers-left{
    display: flex;
   padding-top: -200%;
   
   }

   .offers-left button{
    width: 150px;
    height: 50px;
   }

   .offers-left h1{
    color: #171717;
    font-size: 40px;
    font-weight: 600;
   
    
}
   
  }